* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    --width: 72px;
    width: calc(var(--width) * 8);
    height: calc(var(--width) * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: var(--width);
    height: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: rgb(36, 148, 233);
}

.white {
    background-color: rgb(13, 91, 98);
}

.selected {
    background-color: rgb(12, 229, 48);
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(12, 229, 48);
    ;
}